.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 125px;
  height: 125px;
  border-top: 2px solid var(--color-gray);
  border-radius: 50%;
  animation: rotate 1s infinite;
}


@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}