:root {
  --color-gray: #7f7caf;
  --color-powder-blue: #9fb4c7;
  --color-lavender: #EEEEFF;
  --color-red: #C7253E;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: white;
  height: 100vh;
  color: #323335;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
