.nav {
  display: flex;
  justify-content: space-between;
  background: var(--color-powder-blue);
  width: 100%;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.header__title {
  color: var(--color-lavender)
}

.cart {
  position: relative;
}

.cart__count {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  align-items: center;
  background: #C7253E;
  top: -7px;
  right: -15px;
}